{% extends 'dashboard/base.html' %}

{% block bootstraplink%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}
{% block content %}

<div class="d-flex">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
</div>
    



{% endblock content %}

{% block script %}
<script>
    var xValues = ["Delevered", "France", "Spain", "USA", "Argentina"];
    var yValues = [{{Delevered}}, 49, 44, 24, 15];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
    </script>
<!-- mychart 2-->
<script>
    var xValues = ["Users Active", "Users Blocked"];
    var yValues = [{{Users_active}},{{Users_block}}];
    var barColors = [
    "#00aba9",
    "#b91d47",
      
    ];
    
    new Chart("myChart2", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
    </script>

{% endblock script %}



